$primary-300: #2fbdb0;
$primary-400: #00aea0;
$primary-500: #009e8e;

$loader-color: #45d6b5;
$btn-focus-color: rgba(255, 255, 255, 0.87);
$col-primary-1: $primary-300;
$col-primary-2: $primary-400;
$col-primary-3: $primary-500;
$auth-bg: url("/images/publisher/home/bg.jpg") no-repeat top center;
$splash-bg: radial-gradient(87.86% 65.13% at 50% 71.69%, #1B2D5F 0%, #050913 100%);
$btn-border-radius: 0.21rem;
$invert-icon: invert(0);
$qp-color-title: rgba(255, 255, 255, 0.87);
$qp-color-description: rgba(255, 255, 255, 0.6);

$guide-row-height: 4.16rem;
$guide-fs-1: 1rem;
$guide-fs-2: 0.83rem;
$guide-channel-opacity: 0.67;
$surface-4: #050505;
$medium-emphasis-opacity: 0.6;
$high-emphasis-opacity: 0.87;